---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Main from '../Main.elm' 
---

<Layout title="Welcome to Astro.">
	<main>
        <h1>Elm SSR?</h1>
        <Main/>
	</main>
</Layout>

<style>
</style>
