---
import Layout from '../layouts/Layout.astro';
import Users from '../Users.elm' 
---

<Layout title="Welcome to Astro.">
	<main>
        <Users users={[{"username": "user1", "email": "****@****.***"}]} />
	</main>
</Layout>

